* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --box-shaddow-color: rgb(237, 233, 233);
    --menu-color: rgb(0, 149, 255);
    --light-color: #fff;
    --light-text: gray;
    --benefit-pink-color: rgb(221, 57, 123);
    --benefit-green-color: rgb(57, 221, 186);
}
body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border-radius: 30px;
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: .7rem;
}

/* Header */
.header_menu {
    align-items: center;
    box-shadow: 3px 3px 5px var(--box-shaddow-color);
    color: var(--menu-color);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.hide {
    display: none;
}
.nav li {
    border-bottom: 2px solid var(--box-shaddow-color);
    color: var(--light-text);
    font-size: .8rem;
    margin: .5rem;
    padding: .5rem;
    text-transform: uppercase;
}
@media screen and (min-width: 768px) {
    span .fa-bars {
        display: none;
    }
    .hide {
        display: block;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 3px 3px 5px var(--box-shaddow-color);
    }
    .header_menu {
        box-shadow: none;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav li {
        border: none;
    }
}

/* Sales section */
.sales {
    text-align: center;
    margin-top: 5rem;
    padding: 1rem;
}
.sales h1 {
    font-size: 3rem;
    font-weight: lighter;
    
}
.sales p {
    margin: 1rem 0 2rem 0;
}
.sales button {
    background-color: var(--menu-color);
    border: 1px solid var(--menu-color);
    color: var(--light-color);
    width: 100%;
}
.sales img {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .sales button {
        max-width: 600px;
    }
}

/* Benefits section */
.benefits {
    text-align: center;
    margin-top: 1.3rem;
    padding: 1rem;
}
h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin: 2rem 0;
}
.benefits_content {
    margin-top: 3rem;
}
.benefits img {
    display: block;
    margin: 2rem auto;
}
.pink, .blue, .green {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    margin: 0 auto;
}
.pink {
    background-color: var(--benefit-pink-color);
}
.blue {
    background-color: var(--menu-color);
}
.green {
    background-color: var(--benefit-green-color);
}
.bold {
    font-weight: bold;
    letter-spacing: 2px;
}
.bold_2 {
    margin-top: 1rem;
}
.lighter {
    color: var(--light-text);
    font-weight: lighter;
}
.benefits img {
    position: relative;
    top: -95px;
    right: -20px;
    margin-bottom: -70px;
}
@media screen and (min-width: 768px) {
    .benefits_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem auto;
        max-width: 900px;
    }
    .benefits h2 {
        margin: 2rem;
    }
}

/* Benefits 3 units section */
.benefits_3_units {
    background-color: var(--box-shaddow-color);
    padding: 3rem 1rem;
}
.benefits_3_content, .benefits_2_content, .benefits_1_content {
    background-color: var(--light-color);
    border: 1px solid var(--light-text);
    border-radius: 7px;
    padding: 3rem 1rem 2rem 1rem;
    margin-bottom: 1rem;
}
.benefits_3_content img {
    max-width: 200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.benefits_3_image {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
}
.benefits_3_image::before {
    content: "";
    display: block;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: var(--benefit-pink-color);
    position: absolute;
    top: -25px;
    right: -10px;
}


.benefits_2_content img {
    max-width: 200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.benefits_2_image {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
}
.benefits_2_image::before {
    content: "";
    display: block;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    background-color: var(--menu-color);
    position: absolute;
    top: -15px;
}

.benefits_1_content {
    margin: 0;
    padding: 0;
}
.benefits_1_content h2 {
    padding: 1rem 1rem 0 1rem;
}
.benefits_1_content p {
    padding: 0 1rem 1rem 1rem;
}
.benefits_1_image {
    max-height: 262px;
    background-color: var(--benefit-green-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.benefits_1_image img {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding-top: 4rem;
}

@media screen and (min-width: 768px) {
    .benefits_3_content, .benefits_2_content, .benefits_1_content {
        display: flex;
        align-items: center;
    }
    .benefits_3_image {
        order: 2;
    }
    .benefits_3_units {
        padding: 5rem;
    }
    .text {
        width: 50%;
        padding-left: 1rem;
    }
    .text h2 {
        margin: 0;
        padding-bottom: 1rem;
    }
    .text p {
        padding-bottom: 2rem;
        border-bottom: 3px solid var(--benefit-pink-color);
    }
    .benefits_1_content {
        background-color: var(--box-shaddow-color);
        justify-content: space-between;
        border: none;
    }
    .benefits_1_content .text {
        border: 1px solid var(--light-text);
        border-radius: 5px;
        background-color: var(--light-color);
        margin-right: 2rem;
        height: 262px;
        flex-grow: 1;
        padding: 2rem;
    }
    .benefits_1_content .text p {
        padding: 0 0 2rem 0;
    }
    .benefits_1_content .text h2 {
        padding: 1rem 0 1rem 0;
    }
    .benefits_1_image {
        height: 262px;
        border-radius: 5px;
    }
}  

/* Pricing section */
.pricing {
    text-align: center;
}
.basic, .professional, .premium {
    max-height: 222px;
    max-width: 370px;
    margin: 40px auto;
    border: 1px solid var(--benefit-pink-color);
    border-radius: 18px;
}
.professional {
    border: 1px solid var(--menu-color);
    box-shadow: 0 0 20px var(--menu-color);
    /* max-height: 252px;
    max-width: 400px; */
}
.premium {
    border: 1px solid var(--benefit-green-color);
}
.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.main ul {
    width: 50%;
    text-align: left;
}
.main li {
    line-height: 2rem;
    white-space: nowrap;
}
.main li img {
    margin-right: .8rem;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h4 {
    font-size: 1.3rem;
}
.title h3 {
    font-size: 4rem;
    font-weight: 100;
    color: var(--benefit-pink-color);
}
.professional .title h3 {
    color: var(--menu-color);
}
.premium .title h3 {
    color: var(--benefit-green-color);
}
.begin {
    background-color: var(--benefit-pink-color);
    border: 1px solid var(--benefit-pink-color);
    width: 50%;
}
.professional .begin {
    background-color: var(--menu-color);
    border: 1px solid var(--menu-color);
}
.premium .begin {
    background-color: var(--benefit-green-color);
    border: 1px solid var(--benefit-green-color);
}
@media screen and (min-width: 768px) {
    .professional {
        max-height: 252px;
        max-width: 400px;
    }
    .professional .begin {
        position: relative;
        top: 25px;
    }
    .professional .main {
        padding-bottom: 0;
    }
}

/* Calculating total */
@media screen and (min-width: 768px) {
    .sectionDiv {
        display: flex;
    }
    .formDiv {
        width: 50%;
    }
    .calcDiv {
        width: 50%;
    }
    .formDiv, .calcDiv {
        padding: 1rem;
        margin: 0 auto;
    }
}

/* Contact info */
@media screen and (min-width: 768px) {
    #sectionContact {
        margin: 3rem;
        display: flex;
    }
    .questionDiv {
        width: 50%;
    }
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
footer h3 {
    color: var(--menu-color);
}
footer span {
    color: var(--light-text);
    font-size: .7rem;
}
footer img {
    margin: 0 .7rem;
}